/*-- scss:defaults --*/

// Colors (gradients from https://www.colors.tools/lighten-and-darken)
/* source: https://coolors.co/palettes/trending */
$lh-brick-4: #4e1b11
$lh-brick-3: #A23923 // from LH style guide
$lh-brick-2: #da6951
$lh-brick-1: #ecb2a5
$lh-yellow-4: #855f16
$lh-yellow-3: #DB9D26 // from LH style guide
$lh-yellow-2: #eac57d
$lh-yellow-1: #f8ecd5
$lh-olive-4: #3d471c
$lh-olive-3: #7C9039 // from LH style guide
$lh-olive-2: #b0c46b
$lh-olive-1: #d7e1b4
$lh-green-1: #274e27
$lh-green-1: #499249 // from LH style guide
$lh-green-1: #81c081
$lh-green-1: #c5e2c5
$lh-forest-1: #0f3123
$lh-forest-1: #26805C // from LH style guide
$lh-forest-1: #44c893
$lh-forest-1: #93dfc1
$blue-4: #283E82;
$blue-3: #077DC2;
$blue-2: #01BAEF;
$blue-1: #5DDBFE;
$orange-4: #EB6534;
$orange-3: #FF9B00;
$orange-2: #F9B000;
$orange-1: #FFD879;

$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $orange-2; // navbar
$navbar-fg: $blue-4; // navbar foreground elements
$navbar-hl: $blue-3; // highlight color when on a page
$body-bg: $cream; // page background
$body-color: $black; // page text
$footer-bg: $blue-2; // footer
$link-color: $blue-2; // hyperlinks

// Inline code
$code-bg: $gray-0; // inline code background color
$code-color: $gray-3; // inline code text color

// Code blocks
$code-block-bg: $gray-0; // code block background color

/*-- scss:rules --*/

// Code chunk ouput
pre code:not(.sourceCode) { background-color: $blue-1; }

// Active tabset panel (tab then tab content)
.nav-tabs .nav-link.active {
  background-color: #FFF;
  color: $black;
}
.tab-content { background-color:  #FFF; }

// Navbar dropdown elements
.dropdown-menu{
  --bs-dropdown-link-hover-color: #F4F3EE;
  --bs-dropdown-link-hover-bg: #01BAEF;
}
